.custom-logo {
  .site-meta-headline {
    text-align: center;
  }

  .site-title {
    color: $black-deep;
    margin: 10px auto 0;

    a {
      border: 0;
    }
  }
}

.custom-logo-image {
  margin: 0 auto;
  padding: 5px;
  max-width: 150px;
  background: white;
  border-radius: 50%；
  transition: 2.5s all;
}
.custom-logo-image:hover {
  transform: rotate(360deg); 
}

.brand {
  background: var(--btn-default-bg);
}
